{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"bin/run_tests.cljk" ".cljs"
  "run-tests.cljk" ".cljs"
  "src/kotobase/protocols/atproto.cljk" ".cljc"
  "src/kotobase/protocols/blocks.cljk" ".cljc"
  "src/kotobase/protocols/cid.cljk" ".cljc"
  "src/kotobase/protocols/git.cljk" ".cljc"
  "src/kotobase/protocols/hash.cljk" ".cljc"
  "src/kotobase/protocols/http.cljk" ".cljc"
  "src/kotobase/protocols/ipfs.cljk" ".cljc"
  "src/kotobase/protocols/ipfs_pinning.cljk" ".cljc"
  "src/kotobase/protocols/issue.cljk" ".cljc"
  "src/kotobase/protocols/json.cljk" ".cljc"
  "src/kotobase/protocols/router.cljk" ".cljc"
  "src/kotobase/protocols/s3.cljk" ".cljc"
  "src/kotobase/protocols/store.cljk" ".cljc"
  "test/kotobase/protocols/atproto_test.cljk" ".cljc"
  "test/kotobase/protocols/blocks_test.cljk" ".cljc"
  "test/kotobase/protocols/cid_test.cljk" ".cljc"
  "test/kotobase/protocols/git_test.cljk" ".cljc"
  "test/kotobase/protocols/ipfs_pinning_test.cljk" ".cljc"
  "test/kotobase/protocols/ipfs_test.cljk" ".cljc"
  "test/kotobase/protocols/issue_test.cljk" ".cljc"
  "test/kotobase/protocols/json_test.cljk" ".cljc"
  "test/kotobase/protocols/router_test.cljk" ".cljc"
  "test/kotobase/protocols/s3_test.cljk" ".cljc"}}
